<!doctype html>
<html>
{{ template "head.html" .Head }}

<body>
  <h1 class="text-3xl p-8">Welcome to go-htmx-tailwind</h1>
  <p class="px-4 py-1">This is a simple app template built with Go, HTMX, and TailwindCSS.</p>

  <p class="px-4 py-1">This is a static page. Go to <a class="text-blue-500" href="/todo">/todo</a> to see a dynamic
    TODO
    list page.</p>

  <p class="px-4 py-1">Go to <a class="text-blue-500" href="/hello/your_name">/hello/your_name</a> to exercise the Go
    router.</p>
</body>

</html>